{% extends 'orders/base.html' %}
{% block content %}

{% if items_list %}
<ul>
    <table id="ordertable">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Order?</th>
        </tr>
    {% for item in items_list %}
        <tr>
            <td>{{item.name}}</td> 
            <td>{{item.price|floatformat}}</td>
            <td><form style="display: inline-block" action="{% url 'orders:ordering' guest.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{item.id}}">
                <input class="orderbutton" type="submit" value="ORDER">
            </form></td>
        </tr>
    {% endfor %}  
</ul>
{% else %}  
    <p>No Items are available.</p>
{% endif %}

{% endblock %}