{% extends 'orders/base.html'%}
{% block content %}

<h1> Select guest </h1>
{% if guest_list %}
<table id="indextable">
    <tr>
        <th>Guest name</th>
        <th>To pay</th>
        <th>Already Paid</th>
    </tr>
    {% for guest in guest_list %}
    <tr onclick="window.location='{% url 'orders:guest_action' guest.id %}'">
        <td>{{ guest.name }}</td>
        <td>{{ guest.to_pay }}</td>
        <td>{{ guest.already_paid }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}  
    <p>No guests are available.</p>
{% endif %}
<h1> Or view order history </h1>
<form action="{% url 'orders:history' %}" method="get">
    <input type="submit" value="View orders history">
</form>
{% endblock %}