{% extends 'orders/base.html' %}
{% block content %}

<h1>{{guest.name}} have to pay {{guest.to_pay|floatformat}}</h1>

<form action="{% url 'orders:paying' guest.id%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Pay">
</form>


<h2>Here is list of unpayed items</h2>
{% if unpaid_history %}
    <table class="historytable">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Order time</th>
            <th>Order date</th>
        </tr>
    {% for order in unpaid_history %}
        <tr>
            <td>{{order.item.name}}</td>
            <td>{{order.item.price|floatformat}}</td>
            <td>{{order.time|date:"H:i:s"}}</td>
            <td>{% if order.was_placed_today%} Today {%else%} {{order.time|date:"j.m.Y"}} {%endif%}</td>
        </tr>
    {% endfor %}
{% else %}  
    <p>No Items to pay</p>
{% endif %}
{% endblock %}
